<div id="colleft">
    <h5>Site map</h5>
    {{- range .Site.Pages }}
      {{ if .Params.nameInMenu }}
        <div><a href="{{ .Permalink }}">{{ .Params.nameInMenu }}</a></div>
      {{ end }}
    {{- end }}
</div>
