<div id="colright">
    <div><a href="https://gitlab.com/partimage">Git repositories</a></div>
    <div><a href="https://sourceforge.net/projects/partimage/">Sourceforge</a></div>
    <div><a href="https://www.fsarchiver.org/">FSArchiver</a></div>
</div>
