<div id="topmenu">
    <ul>
        <li><a href="{{ .Site.BaseURL  }}">Homepage</a></li>
        <li><a href="/manual/">Manual</a></li>
        <li><a href="https://gitlab.com/partimage">Git repositories</a></li>
    </ul>
</div>
